*{
    margin: 0;
    padding: 0;
    background-color: #C2D8B9;
}
.container{
    margin-top: 15%;
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center;
}
.calculator{
    position: relative;
    top: 30%;
    left: 37.5%;
    background-color: #738290;
    padding: 20px;
    width: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 60px);
    grid-template-areas: 
        "a a a a"
        "b b c c"
        "d e f g"
        "h i j k"
        "l m n s"
        "t o p r";
}
.screen{
    grid-area: a;
    background-color: #FFFCF7;
    text-align: right;
}
.display{
    margin-right: 20px;
    margin-top: 20px;
    background-color: #FFFCF7;
}
#clear{
    grid-area: b;
}
#delete{
    grid-area: c;
}
#seven{
    grid-area: d;
}
#eight{
    grid-area: e;
}
#nine{
    grid-area: f;
}
#divide{
    grid-area: g;
}
#four{
    grid-area: h;
}
#five{
    grid-area: i;
}
#six{
    grid-area: j;
}
#multiply{
    grid-area: k;
}
#one{
    grid-area: l;
}
#two{
    grid-area: m;
}
#three{
    grid-area: n;
}
#subtract{
    grid-area: s;
}
#dot{
    grid-area: t;
}
#zero{
    grid-area: o;
}
#equals{
    grid-area: p;
}
#add{
    grid-area: r;
}


.button p{
    font-weight: 800;
    background-color: #A1B5D8;
}
.button{
    background-color: #A1B5D8;
}